@if (adminStore.isLoading()) {
    <app-loading-spinner/>
} @else {
    @if (isDesktop()) {
        <div class="flex h-dvh w-full overflow-hidden bg-gray-50">
            
            <!-- Menú Lateral Izquierdo Fijo -->
            <aside class="w-64 shrink-0 bg-white border-r border-gray-200 z-40 shadow-sm relative animate-in fade-in duration-500">
                <app-menu-lateral-vendedor class="contents" />
            </aside>

            <!-- Área Central de Contenido -->
            <main class="flex-1 flex flex-col min-w-0 h-full overflow-hidden bg-gray-50 relative">
                
                <!-- TOPBAR FIJA DESKTOP (Versión Sutil) -->
                <header class="shrink-0 bg-white border-b border-gray-100 p-3 pl-3 z-30 flex items-center">
                    
                    <div class="flex items-center pt-0.5 animate-in fade-in slide-in-from-left-2 gap-1">
                        <app-icon name="chevron-right" classes="size-4 fill-current text-gray-400" />
                        <h1 class="text-base font-semibold text-gray-700 leading-none">
                            {{ tituloPanelActual() }}
                        </h1>
                    </div>

                </header>

                <!-- CONTENIDO SCROLLEABLE -->
                <div class="flex-1 overflow-y-auto px-6 py-1">
                    <div class="max-w-6xl mx-auto w-full">
                        <router-outlet/>
                    </div>
                </div>

            </main>

        </div>
    } @else {
        <!-- Layout Mobile -->
        <div class="flex flex-col h-dvh w-full overflow-hidden bg-gray-50">
        
            <app-panel-header class="shrink-0 z-50 relative"></app-panel-header>

            <main class="flex-1 overflow-y-auto">
                <router-outlet/>
            </main>

            <app-panel-navbar class="shrink-0 z-40 relative"></app-panel-navbar>
        </div>
    }
    
    <!-- Dialogs emergentes -->
    <app-product-preview/>
    <app-product-form/>
    <app-category-delete/>
    <app-category-form/>
    <app-category-preview/>
    <app-confirm-dialog/>
    <app-cupon-form/>
    <app-product-import-preview/>
    <app-menu-principal/>
    <app-pedido-preview/>
    <app-pedido-form/>

    <!-- Toast -->
    <app-toast/>
}