@if (adminStore.isLoading()) {
    <app-loading-spinner/>
} @else {
    <div class="flex flex-col h-dvh w-full overflow-hidden bg-gray-50">
        
        <app-panel-header class="shrink-0 z-50 shadow-sm relative"></app-panel-header>

        <main class="flex-1 overflow-y-auto animate-in fade-in duration-500">
            <router-outlet/>
        </main>

        <app-panel-navbar class="shrink-0 z-40 relative"></app-panel-navbar>
    </div>

    <!-- Dialogs emergentes -->
    <app-product-preview/>
    <app-product-form/>
    <app-category-delete/>
    <app-category-form/>
    <app-category-preview/>
    <app-confirm-dialog/>
    <app-cupon-form/>
    <app-product-import-preview/>
    <app-menu-principal/>
    <app-pedido-preview/>

    <!-- Toast -->
    <app-toast/>
}