@if (adminStore.isLoading()) {
    <app-catalogo-skeleton/>
} @else {
    @if (isDesktop()) {
        <!-- Layout Desktop -->
        <div class="min-h-screen flex flex-col">
            <app-navbar-desktop class="contents" />

            <div class="flex-1 w-full flex items-start gap-6 py-5 sm:px-2 lg:px-5">
        
                <aside class="w-72 shrink-0 sticky top-34 max-h-[calc(100vh-5rem)] overflow-y-auto rounded-2xl">
                    <app-menu-lateral-desktop/>
                </aside>
                
                <main class="flex-1 min-w-0 flex flex-col">
                    @if (exploradorProductosService.vistaActual() === 'home') {
                        <app-carousel-destacados-desktop/>
                        <app-carousel-ofertas-desktop/>
                        <app-lista-productos-desktop/>
                    } 
                    @else {
                        <app-explorador-productos-desktop/>
                    }
                </main>
            </div>

            <app-footer-desktop/>
        </div>

        <!-- Dialogs emergentes -->
        <app-carrito/>
        <app-menu-info/>
        <app-product-selector/>
        <app-map-dialog/>
        <app-pedido-realizado/>
        <app-confirm-dialog/>
        <app-image-viewer/>
    }
    @else {
        <!-- Layout Mobile -->
        <div class="min-h-screen flex flex-col">
            
            <app-navbar/>
            
            <main class="flex-1 flex flex-col w-full">
                <app-banner-info/>
                <app-search-nav class="contents" />
                <app-carousel-destacados/>
                <app-carousel-ofertas/>
                <app-lista-productos/>
            </main>

            <app-footer-desktop/>
            
        </div>

        <!-- Dialogs emergentes -->
        <app-search-products/>
        <app-carrito/>
        <app-menu-info/>
        <app-product-selector/>
        <app-menu-lateral/>
        <app-category-products-view/>
        <app-map-dialog/>
        <app-productos-destacados/>
        <app-productos-ofertas/>
        <app-pedido-realizado/>
        <app-confirm-dialog/>
        <app-image-viewer/>
    }

    <!-- Toast -->
    <app-toast/>
}