<header class="sticky top-0 z-50 pt-8 bg-brand-bg border-b border-blue-200 shadow-sm">
  <div class="flex items-center justify-between px-4 h-16 max-w-5xl mx-auto">
    
    <button
        (click)="volverAtras()"
        class="p-2 text-brand-accent active:scale-95 transition-transform"
        aria-label="Volver atrás">
        <app-icon name="back" classes="size-7 fill-current" />
    </button>

    <div class="flex-1 text-center px-2 overflow-hidden">
        <h1 class="text-brand-accentfont-bold text-base truncate">
            Mi perfil
        </h1>
    </div>

    <div class="w-11"></div>

  </div>
</header>

<main class="min-h-screen bg-gray-50 p-4">

    
    
</main>

<footer>

</footer>