<header class="flex items-center justify-between px-6 py-3 md:py-4 shadow max-w-5xl rounded-full mx-auto w-full bg-white">
    <h2 class="text-xl">Listalo</h2>
    <nav id="menu" class="max-md:absolute max-md:top-0 max-md:left-0 max-md:overflow-hidden items-center justify-center max-md:h-full max-md:w-0 transition-[width] bg-white/50 backdrop-blur flex-col md:flex-row flex gap-8 text-gray-900 text-sm font-normal">
        <a class="hover:text-indigo-600" href="#">
            Funcionalidades
        </a>
        <a class="hover:text-indigo-600" href="#">
            Precios
        </a>
        <a class="hover:text-indigo-600" href="#">
            Ayuda
        </a>
        <button id="closeMenu" class="md:hidden text-gray-600">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
                stroke-linecap="round" stroke-linejoin="round">
                <path d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
    </nav>
    <div class="flex items-center space-x-4">
        <a class="hidden md:flex bg-indigo-600 text-white px-5 py-2 rounded-full text-sm font-medium hover:bg-indigo-700 transition" href="#">
            Registrar mi negocio
        </a>
        <button id="openMenu" class="md:hidden text-gray-600">
            <app-icon name="menu" classes="size-6 fill-current" />
        </button>
    </div>
</header>