<section class="bg-white rounded-4xl p-5 shadow-sm border border-gray-100 relative transition-all"
        [class.ring-1]="editando() && !loading()">
      
      <div class="flex items-center justify-between mb-3">
        <div class="flex items-center gap-3">
            <div class="p-2 bg-brand-bg rounded-xl text-brand-accent">
                <app-icon [name]="icon()" classes="size-5 fill-current" />
            </div>
            <h3 class="font-black text-brand-text uppercase tracking-widest text-sm">{{ title() }}</h3>
        </div>

        <div class="flex items-center gap-2">
            
            @if (editando() && !loading()) {
                <button (click)="cancel()"
                        class="px-3 py-2 rounded-xl bg-brand-accent/10 text-gray-500">
                        <app-icon name='cancel' classes="size-4 fill-current" />
                </button>
            }

            <button (click)="toggleEdit()"
                    [disabled]="loading()"
                    [class]="editando() ? 'bg-brand-accent text-white shadow-lg shadow-brand-accent/20' : 'bg-gray-50 text-brand-text'"
                    class="flex items-center gap-2 px-4 py-2 rounded-xl text-[10px] font-black uppercase tracking-widest transition-all active:scale-95 disabled:opacity-50">
                
                @if (loading()) {
                    <div class="size-3 border-2 border-white/30 border-t-white rounded-full animate-spin"></div>
                } @else {
                    <app-icon [name]="editando() ? 'save' : 'edit'" classes="size-4 fill-current" />
                }
                {{ editando() ? '' : 'Editar' }}
            </button>
        </div>
      </div>

      <div [class.opacity-60]="!editando()" 
           [class.pointer-events-none]="!editando()" 
           class="transition-all duration-300">
          <ng-content></ng-content>
      </div>
    </section>