@keyframes slideInUp {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}

.animate-in {
  animation: slideInUp 0.35s cubic-bezier(0.16, 1, 0.3, 1);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes custom-spin-anim {
  to {
    transform: rotate(360deg);
  }
}

.custom-spin {
  transform-origin: 400px 400px;
  animation: custom-spin-anim 1s ease-in-out infinite;
}