<div class="flex flex-col h-full w-full">
    <main class="flex-1 bg-gray-50 px-3 pt-3 pb-30 flex flex-col">
        
        <!-- CARD 3: ESTADÍSTICAS DEL MES -->
            <div class="bg-white border border-gray-100 rounded-2xl p-3 shadow-sm">
                
                <div class="flex items-center gap-2 mb-3">
                    <app-icon name="chart" classes="size-4 fill-current text-gray-400" />
                    <h2 class="text-xs font-semibold uppercase tracking-wider text-gray-500">Resumen del Mes</h2>
                </div>

                <div class="grid grid-cols-1 sm:grid-cols-3 gap-2">
                    <!-- Pedidos entregados -->
                    <div class="bg-gray-50/80 rounded-xl p-2 border border-gray-100/60 flex flex-col">
                        <span class="text-[11px] text-gray-500 font-medium">Entregados este mes</span>
                        <span class="text-lg font-bold text-gray-800 mt-0.5">38 <span class="text-xs font-normal text-emerald-600">+12%</span></span>
                    </div>
                    
                    <!-- Producto más vendido -->
                    <div class="bg-gray-50/80 rounded-xl p-2 border border-gray-100/60 flex flex-col justify-between">
                        <span class="text-[11px] text-gray-500 font-medium">Más vendido</span>
                        <span class="text-sm font-bold text-gray-800 mt-1 truncate" title="Almendras importadas grandes">Almendras importadas grandes</span>
                    </div>
                    
                    <!-- Beneficios del mes -->
                    <div class="bg-gray-50/80 rounded-xl p-2 border border-gray-100/60 flex flex-col justify-between">
                        
                        <span class="text-[11px] text-gray-500 font-medium">Beneficios del mes</span>
                        
                        <div class="flex items-center gap-2 mt-0.5">
                            <span class="text-lg font-bold text-emerald-600 transition-all duration-300">
                                @if (mostrarBeneficios()) {
                                    $ 485.900
                                } @else {
                                    $ ****
                                }
                            </span>
                            
                            <button (click)="toggleBeneficios()" 
                                    class="text-emerald-600/50 md:hover:text-emerald-600 active:scale-95 transition-all p-1 rounded-md"
                                    [title]="mostrarBeneficios() ? 'Ocultar saldo' : 'Mostrar saldo'">
                                <app-icon [name]="mostrarBeneficios() ? 'eye' : 'eye-off'" classes="size-4 fill-current" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>


    </main>
</div>