<footer class="w-full p-4 mt-auto bg-transparent">
    <div class="max-w-5xl mx-auto flex flex-col items-center gap-3 text-center">
    
        <button (click)="irACreacion()"
                class="px-4 py-1.5 bg-brand-accent text-white text-[10px] font-bold uppercase tracking-wide rounded-full shadow-sm shadow-brand-accent/20 hover:shadow-md hover:shadow-brand-accent/40 hover:-translate-y-0.5 active:scale-95 transition-all">
            ¡Necesito una tienda como esta!
        </button>

        <div class="flex flex-col gap-1">
            <p class="text-[10px] font-bold text-gray-400 uppercase tracking-widest">
            © {{ currentYear }} - 
                <button (click)="irAHome()"
                    class="text-[9px] font-black text-gray-500 md:hover:text-brand-accent md:hover:underline transition-colors uppercase tracking-widest">
                    {{ BRAND_DATA.name }}
                </button>
            </p>
        </div>
    
    </div>
</footer>