<header class="sticky top-0 z-50 pt-8 bg-brand-bg border-b border-blue-200 shadow-sm">
  <div class="flex items-center justify-between px-4 h-16 max-w-5xl mx-auto">
    
    <button
        (click)="volverAtras()"
        class="p-2 text-brand-accent active:scale-95 transition-transform"
        aria-label="Volver atrás">
        <app-icon name="back" classes="size-7 fill-current" />
    </button>

    <div class="flex-1 text-center px-2 overflow-hidden">
        <h1 class="text-brand-accentfont-bold text-base truncate">
            Mis productos
        </h1>
    </div>

    <div class="w-11"></div>

  </div>
</header>

<main class="min-h-screen bg-gray-50 p-4">

    <div class="relative w-full max-w-md mx-auto group">
        <div class="relative">
            <div class="absolute inset-y-0 left-0 pl-4 flex items-center pointer-events-none">
                <app-icon name="search" classes="size-6 fill-current text-brand-accent" />
            </div>

            <input 
            type="text" 
            placeholder="Buscar productos..."
            class="w-full pl-11 pr-4 py-3 bg-white border border-brand-bg rounded-xl 
                    text-brand-text placeholder:text-brand-text-sec/60
                    focus:outline-none focus:ring-4 focus:ring-brand-bg focus:border-brand-accent 
                    transition-all duration-300 shadow-sm"
            >
        </div>
    </div>

    <div class="flex items-center gap-2 py-4">
        
        <div class="flex-1 overflow-x-auto no-scrollbar">
            <div class="flex gap-2">
                <button 
                    (click)="seleccionarCategoria('todos')"
                    [class]="categoriaSeleccionada() === 'todos' ? 'bg-brand-accent text-white shadow-md' : 'bg-white text-brand-text border border-gray-200'"
                    class="px-5 py-2 rounded-full text-sm font-bold whitespace-nowrap transition-all active:scale-95">
                    Todos
                </button>

                @for (cat of categorias(); track cat.id) {
                    <button 
                        (click)="seleccionarCategoria(cat.nombre)"
                        [class]="categoriaSeleccionada() === cat.nombre 
                            ? 'bg-brand-accent text-white shadow-md' 
                            : 'bg-white text-brand-text border border-gray-200'"
                        class="px-5 py-2 rounded-full text-sm font-bold whitespace-nowrap transition-all active:scale-95">
                        
                        {{ cat.nombre }} 
                    </button>
                }
            </div>
        </div>
    </div>

    @if (loading()) {
        <div class="flex justify-center p-10">
            <span class="animate-bounce">Cargando productos...</span>
        </div>
    } @else {
        <div class="flex flex-col gap-3">
            @for (producto of productos(); track producto.id) {
                <div class="flex items-center gap-3 bg-white p-3 rounded-2xl border border-brand-bg shadow-sm">
                    <div class="shrink-0 w-12 h-12 bg-brand-bg rounded-lg overflow-hidden">
                        <img [src]="producto.imagen || 'https://placehold.co/200x200?text=Sin+Imagen'" 
                    class="object-cover w-full h-full">
                    </div>
                    
                    <div class="flex-1">
                        <h3 class="text-brand-text font-bold text-sm">{{ producto.nombre }}</h3>
                        <p class="text-brand-accent font-bold">${{ producto.presentaciones[0]?.precio }}</p>
                    </div>
                </div>
            } @empty {
                <div class="text-center py-10">
                    <p class="text-brand-text-sec">No se encontraron productos.</p>
                </div>
            }
        </div>
    }

    <div class="fixed bottom-8 right-6 z-50">
        <button
            class="flex items-center gap-2 bg-brand-accent text-white p-4 rounded-full shadow-2xl shadow-brand-accent/40 active:scale-90 hover:scale-105 transition-all duration-200 group"
            aria-label="Agregar producto">
            <app-icon name="add-producto" classes="size-6 fill-current" />
        </button>
    </div>

    
</main>

<footer>

</footer>