<div class="min-h-screen flex flex-col bg-white">
    <header class="sticky top-0 z-50 w-full bg-white">
        <app-navbar-indumentaria></app-navbar-indumentaria>
    </header>
    
    <main class="flex-1">
        <ng-content></ng-content>
    </main>
    
    <app-footer-desktop></app-footer-desktop>
</div>

<!-- Dialogs emergentes -->
<app-search-products/>
<app-carrito/>
<app-menu-info/>
<app-product-selector/>
<app-menu-lateral/>
<app-category-products-view/>
<app-map-dialog/>
<app-productos-destacados/>
<app-productos-ofertas/>
<app-pedido-realizado/>
<app-confirm-dialog/>
<app-image-viewer/>