<nav class="w-full bg-white border-t rounded-t-2xl border-gray-200 z-40 pb-[env(safe-area-inset-bottom)]">
    <div class="max-w-lg mx-auto relative">
        
        <!-- LA BARRA DESLIZANTE -->
        <div class="absolute top-0 left-0 w-1/5 h-0.5 transition-all duration-300 ease-out z-50 flex justify-center"
            [class.opacity-0]="indiceActivo() === -1"
            [style.transform]="'translateX(' + (indiceActivo() === -1 ? 0 : indiceActivo() * 100) + '%)'">
            
            <div class="w-7 h-full bg-brand-accent/90 rounded-b-full"></div>
        </div>

        <!-- CONTENEDOR DE BOTONES -->
        <div class="flex items-center w-full pt-1.5 pb-1">
            
            <!-- INICIO -->
            <button (click)="navegar('/panel-vendedor/inicio')"
               [class.text-brand-accent]="esRutaActiva('/panel-vendedor/inicio')"
               [class.text-gray-400]="!esRutaActiva('/panel-vendedor/inicio')"
               class="flex flex-col items-center justify-center gap-1 p-1.5 flex-1 transition-colors duration-300">
                <app-icon name="home" classes="size-6 fill-current"/>
                <span class="text-[11px] font-semibold tracking-wide transition-all" [class.font-bold]="esRutaActiva('/panel-vendedor/inicio')">
                    Inicio
                </span>
            </button>

            <!-- PEDIDOS -->
            <button (click)="navegar('/panel-vendedor/mis-pedidos')"
               [class.text-brand-accent]="esRutaActiva('/panel-vendedor/mis-pedidos')"
               [class.text-gray-400]="!esRutaActiva('/panel-vendedor/mis-pedidos')"
               class="flex flex-col items-center justify-center gap-1 p-1.5 flex-1 transition-colors duration-300">
                <app-icon name="receipt" classes="size-6 fill-current"/>
                <span class="text-[11px] font-semibold tracking-wide transition-all" [class.font-bold]="esRutaActiva('/panel-vendedor/mis-pedidos')">
                    Pedidos
                </span>
            </button>

            <!-- PRODUCTOS -->
            <button (click)="navegar('/panel-vendedor/mis-productos')"
               [class.text-brand-accent]="esRutaActiva('/panel-vendedor/mis-productos')"
               [class.text-gray-400]="!esRutaActiva('/panel-vendedor/mis-productos')"
               class="flex flex-col items-center justify-center gap-1 p-1.5 flex-1 transition-colors duration-300">
                <app-icon name="shop-bag" classes="size-6 fill-current"/>
                <span class="text-[11px] font-semibold tracking-wide transition-all" [class.font-bold]="esRutaActiva('/panel-vendedor/mis-productos')">
                    Productos
                </span>
            </button>

            <!-- ESTADISTICAS -->
            <button (click)="navegar('/panel-vendedor/estadisticas')"
               [class.text-brand-accent]="esRutaActiva('/panel-vendedor/estadisticas')"
               [class.text-gray-400]="!esRutaActiva('/panel-vendedor/estadisticas')"
               class="flex flex-col items-center justify-center gap-1 p-1.5 flex-1 transition-colors duration-300">
                <app-icon name="chart" classes="size-6 fill-current"/>
                <span class="text-[11px] font-semibold tracking-wide transition-all" [class.font-bold]="esRutaActiva('/panel-vendedor/estadisticas')">
                    Estadísticas
                </span>
            </button>

            <!-- MI TIENDA -->
            <button (click)="navegar('/panel-vendedor/mi-tienda')"
               [class.text-brand-accent]="esRutaActiva('/panel-vendedor/mi-tienda')"
               [class.text-gray-400]="!esRutaActiva('/panel-vendedor/mi-tienda')"
               class="flex flex-col items-center justify-center gap-1 p-1.5 flex-1 transition-colors duration-300">
                <app-icon name="shop" classes="size-6 fill-current"/>
                <span class="text-[11px] font-semibold tracking-wide transition-all" [class.font-bold]="esRutaActiva('/panel-vendedor/mi-tienda')">
                    Tienda
                </span>
            </button>

        </div>
    </div>
</nav>