<nav class="animate-in fade-in duration-500 fixed bottom-0 left-0 w-full bg-white/90 backdrop-blur-md border-t border-gray-100 shadow-[0_-4px_15px_-5px_rgba(0,0,0,0.05)] z-50">
    <div class="flex items-center justify-around h-16 max-w-md mx-auto px-4">
        
        <button [routerLink]="['../backoffice/inicio']" 
           routerLinkActive="text-brand-accent" 
           [routerLinkActiveOptions]="{exact: true}"
           #homeRef="routerLinkActive"
           class="flex flex-col items-center justify-center w-20 gap-1 text-gray-400 transition-all active:scale-95">
            
            <div class="relative p-1">
                <app-icon name="home" 
                    [classes]="'size-6 transition-colors duration-300 ' + (homeRef.isActive ? 'fill-brand-accent' : 'fill-current')" />
            </div>
            <span class="text-[10px] font-bold tracking-wide transition-colors"
                [class.text-brand-accent]="homeRef.isActive">Inicio</span>
        </button>

        <button [routerLink]="['../backoffice/vendedores']" 
           routerLinkActive="text-brand-accent"
           #vendedoresRef="routerLinkActive"
           class="flex flex-col items-center justify-center w-20 gap-1 text-gray-400 transition-all active:scale-95">
            
            <div class="relative p-1">
                <app-icon name="profile" 
                    [classes]="'size-6 transition-colors duration-300 ' + (vendedoresRef.isActive ? 'fill-brand-accent' : 'fill-current')" />
            </div>
            <span class="text-[10px] font-bold tracking-wide transition-colors"
                [class.text-brand-accent]="vendedoresRef.isActive">Vendedores</span>
        </button>

        <button [routerLink]="['../backoffice/catalogos']"
           routerLinkActive="text-brand-accent"
           #catalogosRef="routerLinkActive"
           class="flex flex-col items-center justify-center w-20 gap-1 text-gray-400 transition-all active:scale-95">
            
            <div class="relative p-1">
                <app-icon name="shop" 
                    [classes]="'size-6 transition-colors duration-300 ' + (catalogosRef.isActive ? 'fill-brand-accent' : 'fill-current')" />
            </div>
            <span class="text-[10px] font-bold tracking-wide transition-colors"
                  [class.text-brand-accent]="catalogosRef.isActive">Catálogos</span>
        </button>

    </div>
</nav>