@import 'tailwindcss';

@theme {
  --color-brand-bg: #D1E9F6;
  --color-brand-accent: #2E5A88;
  --color-brand-text: #0A1929;
  --color-brand-text-sec: #546E7A;
}

body {
  background-color: var(--color-brand-bg);
  color: var(--color-cat-text);
  font-family: ui-sans-serif, system-ui, sans-serif;
}