@if (productosOferta().length > 0) {
    <section class="mt-3">
        <div class="px-4 mb-3 flex items-center justify-between">
            <h2 class="text-lg font-bold text-brand-text flex items-center gap-2">
                Ofertas Imperdibles <span class="animate-pulse">🏷️</span>
            </h2>
            
            <button 
                (click)="productosOfertasService.open()"
                class="text-xs font-semibold text-brand-accent bg-brand-accent/10 px-2.5 py-1.5 rounded-full active:scale-95 transition-transform flex items-center gap-1">
                Ver todo
                <app-icon name="chevron-right" classes="size-4 fill-brand-accent" />
            </button>
        </div>
        
        <div class="relative">
            <div class="absolute left-0 top-0 bottom-0 z-10 w-4 bg-linear-to-r from-brand-bg via-brand-bg/40 to-transparent pointer-events-none"></div>

            <div class="flex overflow-x-auto gap-3 px-4 pb-4 snap-x snap-mandatory no-scrollbar items-stretch">
                @for (producto of productosOferta(); track producto.id) {
                    @let oferta = getMejorOferta(producto.presentaciones);
                    
                    <div 
                        class="shrink-0 w-[45%] sm:w-64 self-stretch bg-white rounded-2xl overflow-hidden shadow-sm snap-center border border-gray-100 flex flex-col"
                        (click)="productSelectorService.open(producto)">
                        
                        <div class="relative w-full aspect-square bg-brand-bg shrink-0 overflow-hidden"
                            [class.animate-pulse]="!imageLoaded() && producto.imagen">
                            
                            <div class="absolute inset-0 w-full h-full flex items-center justify-center text-brand-accent/40 bg-brand-accent/10 transition-opacity duration-300"
                                [class.opacity-0]="imageLoaded() && producto.imagen">
                                <app-icon name="photo" classes="size-8 fill-current" />
                            </div>

                            @if (producto.imagen) {
                                <img [src]="producto.imagen" 
                                    (load)="onImageLoad()"
                                    class="absolute inset-0 w-full h-full object-cover transition-opacity duration-500 ease-out"
                                    [class.opacity-0]="!imageLoaded()"
                                    [class.opacity-100]="imageLoaded()">
                            }
                        </div>

                        <div class="p-2 flex flex-col flex-1">
                            
                            <h3 class="font-bold text-brand-text text-[12px] leading-tight line-clamp-2">
                                {{ producto.nombre }}
                            </h3>
                            
                            @if (producto.marca) {
                                <p class="text-[9px] font-bold text-brand-accent/80 uppercase tracking-wider mt-1 truncate">
                                    {{ producto.marca }}
                                </p>
                            }
                            
                            @if (producto.tags && producto.tags.length > 0) {
                                <div class="flex flex-wrap gap-1 mt-1.5">
                                    @for (tag of producto.tags; track tag.id) {
                                        <span class="flex items-center gap-1 text-[8px] font-semibold uppercase tracking-widest text-brand-text bg-brand-accent/5 px-1.5 py-0.5 rounded border border-brand-accent/20">
                                            
                                            @if (tag.icono) {
                                                <div [innerHTML]="tag.icono | safeHtml" class="size-3 flex items-center justify-center shrink-0"></div>
                                            }
                                            
                                            {{ tag.nombre }}
                                        </span>
                                    }
                                </div>
                            }

                            @if (oferta){
                                <div class="flex flex-wrap gap-1.5 my-1.5">
                                    <span class="block text-[9px] font-bold px-2 py-0.5 rounded-lg text-gray-500 bg-gray-100 border-gray-200/50 border uppercase tracking-tight transition-colors">
                                        {{ oferta.unidad_venta }}
                                    </span>
                                </div>
                            }
                            
                            <div class="mt-auto pt-2 flex items-center justify-between gap-1 border-t border-gray-100">
                                <div class="flex flex-col">
                                    @if (oferta) {
                                        <span class="text-[10px] text-gray-400 line-through leading-none mb-0.5">
                                            ${{ oferta.precio }}
                                        </span>
                                        <span class="text-brand-text font-black text-base leading-tight">
                                            ${{ oferta.precio_descuento }}
                                        </span>
                                    } @else {
                                        <span class="text-brand-text font-black text-base leading-tight">
                                            ${{ producto.presentaciones[0]?.precio }}
                                        </span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="absolute right-0 top-0 bottom-0 z-10 w-4 bg-linear-to-l from-brand-bg via-brand-bg/40 to-transparent pointer-events-none"></div>
        </div>
    </section>
}